body{
    background-color: black;
    text-align: center;
    color: white;
    font-family: Verdana,sans-serif;
}
.cta{
    color: aquamarine;
}
h2{
    font-size: 42px;
    font-weight: 300;
}
p{
    font-size: 21px;
    color:gray;
}
img{
    overflow-clip-margin: conten-box;
}